@font-face {
  font-family:"Herculanum";
  src: url(stylesheets/Herculanum.ttf) format("truetype");
}

body {
    background-color: #0dc3e4;
    margin: 0;
    padding: 0;
}

#container {
    width: 469px;
    margin: 0 auto;
}

#platitude_bubble {
    width: 469px;
    height: 203px;
    background-image:url('/images/swami_01.png');   
}

#platitude_text {
    font-family: "Herculanum";
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    font-size: 150%;
    text-align: center;
}

#platitude_text h1{
    font-size: 120%;
}

#swami {
    width: 469px;
    height: 284px;
}

#complaint {
    width: 469px;
    text-align: center;
}

#complaint textarea {
	background-image: url('/images/swami_08.png'); 
	background-attachment: scroll;
	width: 469px;
	height: 73px ;
	border: none;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
}

#complaint .bemoan {
    border: none;
    background: url('/images/swami_05.png') no-repeat top left;
    width: 66px;
    height: 26px;
}

#complaint .random {
    border: none;
    background: url('/images/swami_11.png') no-repeat top left;
    width: 66px;
    height: 26px;
}
    
input[type='submit'] {
    float: left;
}

#about_swami {
    margin-top: 50px;
    width: 469px;
    text-align: center;
    clear: both;
}

