<p>
  <b>Platitude:</b>
  <%=h @platitude.platitude %>
</p>

<p>
  <b>User:</b>
  <%=h @platitude.user_id %>
</p>


<%= link_to 'Edit', edit_platitude_path(@platitude) %> |
<%= link_to 'Back', platitudes_path %>