<div id="container">
  <div id="platitude_bubble">
    <div id="platitude_text">
<h1><p>Bemoan Your Problems, My Child....</p>
My Platitudes Will Console You</h1>
    </div>
  </div>
  <div id="swami">
    <img src="images/swami_02.png">
  </div>
  <div id="complaint">
    <%= render :partial=>"complaints/form"%>
    <%= render :partial=>"complaints/random"%>    
  </div>
  <div id="about_swami">
  The swami is your supportive blanket when you feel down or unable to cope with the stresses of startup life. Simple type in your barrier, ailment or complaint and the Swami will offer you guidance.
  </div>
</div>
