<div id="container">  
  <div id="platitude_bubble">
    <div id="platitude_text">
<h1>Bemoan Your Problems Child....<br>
My Platitudes Will Console You</h1>
    </div>
  </div>
  <div id="swami">
    <img src="images/swami_02.png">
  </div>
  <div id="complaint">
    <%= render :partial=>"complaints/form"%>
    <%= render :partial=>"complaints/random"%>    
  </div>
  <div id="share">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
    <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4bca38395189b276" class="addthis_button_compact">Share</a>
    <span class="addthis_separator">|</span>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_myspace"></a>
    <a class="addthis_button_google"></a>
    <a class="addthis_button_twitter"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4bca38395189b276"></script>
    <!-- AddThis Button END -->
  </div>
  <div id="about_swami">
  The swami is your supportive blanket when you feel down or unable to cope with the stresses of startup life. Simply bemoan your lot in life by typing in your barrier, ailment or complaint and the Swami will offer you guidance.
  </div>
</div>
