<div id="container">
  <div id="platitude_bubble">
    <div id="platitude_text">
    <img src="images/swami_text_03.png">    
    </div>
  </div>
  <div id="swami">
    <img src="images/swami_02.png">
  </div>
  <div id="complaint">
    <%= render :partial=>"complaints/form"%>
  </div>
</div>
